version: "3.5"

services:

    openssh:
        image: harshavardhanj/openssh:with-sh
        ports:
            - "2222:22"
        environment:
            - USER=example
            - PASSWORD=example
